<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <title>TodoApp</title>
</head>
<body id="" class="w-screen mx-auto dark:bg-slate-900 m-10 flex flex-col justify-between gap-10 h-screen">
    {{ template "navbar" . }}
    <main {{ if .signedIn }} hx-get="/todos" {{else}} hx-get="/login" {{end}} hx-trigger="load" hx-swap="innerHTML">

    </main>
    {{ template "footer" . }}
</body>
</html>