<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
    <title>TodoApp</title>
</head>
<body id="" class="dark:bg-slate-900 ">
    {{ template "navbar" . }}
    {{ if .templateName }}
        <main class="mt-20 m-auto ml-5 mr-5">
            {{ if eq .templateName "login" }}
                {{ template "login" }}
            {{ else }}
                {{ template "signup" }}
            {{ end }}
        </main>
    {{ else }}
    <main class="max-w-screen-xl mt-20 ml-5 mr-5 xl:m-auto xl:mt-20" {{ if .signedIn }} hx-get="/todos" {{else}} hx-get="/login" {{end}} hx-trigger="load" hx-swap="innerHTML">

    </main>
    {{end}}
</body>
</html>