{{ define "login" }}
<div id="login-form" class="sm:w-3/5 md:w-1/3 lg:w-1/4 bg-white dark:bg-gray-800 p-5 border-gray-200 rounded-lg shadow m-auto">
  <h1 class="text-lg font-medium text-gray-900 dark:text-white">Logg inn</h1>
  <form  hx-target="#login-form"  hx-post="/authenticate" hx-swap="outerHTML">
    <div class="mb-6">
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Brukernavn</label>
      <input type="text" id="username" name="username" class=" w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Passord</label>
      <input type="password" name="password" id="password" class=" w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>
    <div>
      <p class="text-sm font-medium text-gray-900 dark:text-white">Har du ikke konto?</p>
      <a href="/signup" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Trykk her for å registrere deg.</a>
    </div>
    <div class="w-full">
      <button type="submit" class="m-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Logg inn</button>
    </div>
  </form>
  {{ if .errorMessage }}
    <p class="text-red-900">{{ .errorMessage }}</p>
  {{end}}
</div>
{{ end }}
