{{ define "todos" }}
<div id="todos-list" class="flex flex-col gap-4">
{{if .completedTodos}}
  <div>
  <p class="text-center lg:text-left text-gray-900 dark:text-white">Fullførte gjøremål</p>
  <div class="flex flex-row gap-4 flex-wrap justify-center lg:justify-start">
    {{ range .completedTodos }}
      {{ template "todo" . }}
    {{end}}
  </div>
  </div>
{{end}}
  {{ if .expiredTodos }}
  <div>
  <p class="text-center lg:text-left text-gray-900 dark:text-white">Forfalte gjøremål</p>
  <div class="flex flex-row gap-4 flex-wrap justify-center lg:justify-start">
    {{ range .expiredTodos }}
      {{ template "todo" . }}
    {{end}}
  </div>
  </div>
  {{end}}
  {{ if .otherTodos }}
  <div>
  <p class="text-center lg:text-left text-gray-900 dark:text-white">Andre gjøremål</p>
  <div class="flex flex-row gap-4 flex-wrap justify-center lg:justify-start">
    {{ range .otherTodos }}
      {{ template "todo" . }}
    {{end}}
    </div>
  </div>
{{end}}
</div>
{{end}}




